:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    --font-family: "Figtree", sans-serif;
    --font-size: 16px;
    --font-weight-500: 500;
    --font-weight-800: 800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--yellow);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 336px;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    background: var(--white);
    box-shadow: 8px 8px 0px 0px #000;
}

.card-image {
    width: 100%;
    border-radius: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.card-category {
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tag {
    color: var(--gray-950);
    font-weight: var(--font-weight-800);
    line-height: 150%;
    font-size: 14px;
}

.date {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-950);
    font-weight: var(--font-weight-500);
}

.title {
    margin: 0;
    font-weight: var(--font-weight-800);
    line-height: 150%;
    font-size: 24px;
    transition: color 0.3s ease;
}

@media (hover: hover) {
    .title:hover {
        color: var(--yellow);
        cursor: pointer;
    }
}

.description {
    margin: 0;
    font-size: var(--font-size);
    color: var(--gray-500);
    line-height: 150%;
}

.card-author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 32px;
    height: 32px;
}

.author {
    font-size: 14px;
    font-weight: var(--font-weight-800);
    line-height: 150%;
    font-style: normal;
}

/* Responsive mobile styles */
@media (max-width: 375px) {
    article {
        padding: 20px;
        gap: 20px;
    }

    .tag {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
    }

    .card-content {
        gap: 10px;
    }
}